.di {
  width: 500px;
  height: 300px;
  background: #000;
}


.color1 {
background-color:#E7EFC7;
}
.color2 {
background-color: #AEC8A4;
}
.color3 {
background-color: #8A784E;
}
.color4 {
background-color: #3B3B1A;
}

